{% extends "base.html" %}
{% block title %}Admin Orders{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/box.css') }}">
{% endblock %}

{% block content %}

<h2 style="text-align: center; font-size: 30px;">All Orders</h2>

{% for order in orders %}
<div class="order-box">
    <p><strong>Order ID:</strong> {{ order.id }} | <strong>User:</strong> {{ order.user.username }} |
        <strong>Status:</strong> {{ order.status }}
    </p>
    <ul>
        {% for item in order.items %}
        <li>{{ item.product.subcategory }} ({{ item.product.brand }}) - Qty: {{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <form action="/update-order-status/{{ order.id }}?user={{ username }}" method="post">
        <!-- Hidden input to send the username -->
        <input type="hidden" name="user" value="{{ username }}">
        <select name="status">
            <option {% if order.status=='Pending' %}selected{% endif %}>Pending</option>
            <option {% if order.status=='Shipped' %}selected{% endif %}>Shipped</option>
            <option {% if order.status=='Delivered' %}selected{% endif %}>Delivered</option>
        </select>
        <button type="submit">Update</button>
    </form>
</div>
<hr>
{% endfor %}
{% endblock %}