{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', path='admin.css') }}">
{% endblock %}

{% block content %}

<div id="dashboardContent">

    <div class="page-header">
        <div class="header-content">
            <!-- <h1 class="page-title"> Dashboard </h1> -->
            <!-- <h2> Dashboard </h2> -->
            <h2>Welcome, {{ username }}!</h2>
            
        </div>

        <!-- <div class="header-actions">
            <div class="quick-add-container">
                <button class="button" id="quickAddButton">
                    <i class="fas fa-plus"></i> Quick Add
                </button>
            </div>
        </div> -->
    </div>

    <!-- Dashboard Cards -->
    <div class="card-grid">
        <div class="card">
            <h3>Total Products</h3>
            <p>{{ total_products }}</p>
        </div>
        <div class="card">
            <h3>Today's Sales</h3>
            <p>₹{{ "%.2f"|format(todays_sales) }}</p>
        </div>
        <div class="card">
            <h3>Low Stock Alerts</h3>
            <p>{{ low_stock_count }} Items</p>
        </div>
        <!-- <div class="card">
            <h3>Pending Restocks</h3>
            <p>3 Requests</p>
        </div> -->
    </div>

    <!-- Recent Activities -->
    <div class="activity-section">
        <h3>Recent Activities</h3>
        <ul class="activity-list">
            {% for activity in recent_activities %}
                <li>{{ activity }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
