{% extends "base.html" %}
{% block title %}Edit Product{% endblock %}
{% block extra_styles %}
<style>
    /* Add Product Form Styles */
    #editProductForm {
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    #editProductForm div {
        margin-bottom: 10px;
    }

    #editProductForm label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
    }

    #editProductForm input,
    #editProductForm textarea {
        width: 100%;
        padding: 0.5rem;
        border-radius: 6px;
        border: 1px solid #d1d5db;
        font-size: 0.95rem;
    }

    /* Form Button Styles */
    .ok-button {
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        /* margin-right: 10px; */
        margin-left: 35%;
    }

    .ok-button:hover {
        background-color: var(--primary-dark);
    }
</style>
{% endblock %}
{% block content %}
<div id="editProductForm">
<h2>Edit Product</h2>
<form method="post" action="/edit-product/{{ product.id }}">
    <label>Name:</label><br>
    <input type="text" name="name" value="{{ product.name }}" required><br><br>

    <label>Description:</label><br>
    <input type="text" name="desc" value="{{ product.desc }}" required><br><br>

    <label>Quantity:</label><br>
    <input type="number" name="quantity" value="{{ product.quantity }}" required><br><br>

    <label>Price:</label><br>
    <input type="number" step="0.01" name="price" value="{{ product.price }}" required><br><br>

    <button class="ok-button" type="submit">Update Product</button>
</form>
</div>
{% endblock %}
