{% extends "base.html" %}

{% block title %}Orders history{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/box.css') }}">
{% endblock %}

{% block content %}

<h2 style="text-align: center; font-size: 30px;">My Orders</h2>

{% for order in orders %}
<div class="order-box">
    <p><strong>Order ID:</strong> {{ order.id }} | <strong>Status:</strong> {{ order.status }} | <strong>Date:</strong>
        {{ order.date }}</p>
    <ul>
        {% for item in order.items %}
        <li>{{ item.product.subcategory }} ({{ item.product.brand }}) - Qty: {{ item.quantity }}</li>
        {% endfor %}
    </ul>
</div>
<hr>
{% endfor %}
{% endblock %}