{% extends "base.html" %}
{% block title %}Sales History{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/tables.css') }}">
{% endblock %}

{% block content %}
<h2 style="text-align: center; font-size: 30px;">Sales History</h2>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Product Details</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.user.username }}</td>
            <td>
                <ul>
                {% for item in order.items %}
                    <li>{{ item.product.subcategory }} ({{ item.product.brand }}) - Qty: {{ item.quantity }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ order.status }}</td>
            <td>{{ order.date.strftime('%d-%m-%Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
