{% extends "base.html" %}
{% block title %}View Products{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/buttons.css') }}">
{% endblock %}

{% block content %}

<div class="search-bar">
    <form action="/view-products" method="get" style="width: 100%;">
        <i class="fas fa-search"></i>
        <input type="text" name="search" placeholder="Search products..." value="{{ search }}">
        <input type="hidden" name="user" value="{{ username }}">
    </form>
</div>

<br>
<section id="product-cards-view">
    <div class="product-card-grid">
        {% for product in products %}
        <div class="product-card">
            <p><strong>Product ID:</strong> {{ product.id }}</p>
            <p><strong>Date:</strong> {{ product.date }}</p>
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p><strong>Subcategory:</strong> {{ product.subcategory }}</p>
            <p><strong>Brand:</strong> {{ product.brand }}</p>
            <p><strong>Description:</strong> {{ product.desc }}</p>
            <p><strong>Price:</strong> ₹{{ product.price }}</p>
            <p><strong>Availability:</strong>
                {% if product.quantity > 0 %}
                In Stock ({{ product.quantity }})
                {% else %}
                <span style="color: red;">Currently Unavailable</span>
                {% endif %}
            </p>
            {% if role == "admin" %}
            <div class="action-buttons">
                <form action="/edit-product/{{ product.id }}" method="get">
                    <input type="hidden" name="user" value="{{ username }}">
                    <button class="add-button" type="submit">Edit</button>
                </form>
                <form action="/delete-product/{{ product.id }}" method="post">
                    <input type="hidden" name="user" value="{{ username }}">
                    <button class="remove-button"type="submit">Delete</button>
                </form>
            </div>

            {% endif %}
        </div>
        {% else %}
        <p>No products found.</p>
        {% endfor %}
    </div>
</section>

{% if message %}
<script>
    alert("{{ message }}");
</script>
{% endif %}

{% endblock %}